body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:rgb(38, 96, 96);
}
.calculator {
  background: black;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px black;
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.calculator:hover {
  transform: scale(1.15);
  box-shadow: 0 15px 40px black;
}

.display {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: hotpink;
  min-height: 40px;
}
.result {
  font-size: 2rem;
  color: hotpink;
  margin: 10px 0;
}
.mic-button {
  background: hotpink;
  color: black;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.mic-button:hover {
  background: black;
  color:hotpink;
  border:3px solid grey;
}